* {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}
.c{
  color:#007fff;
}
/*----------------------------login.html--------------------------*/
body {
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
  color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9f9f9f;
  opacity: 1;
  font-size: 16px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9f9f9f;
  opacity: 1;
  font-size: 16px;
}

input:-ms-input-placeholder {
  color: #9f9f9f;
  opacity: 1;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  color: #9f9f9f;
  opacity: 1;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

input {
  background: none;
  outline: none;
  border: none;
  width: 270px;
  height: 20px;
  vertical-align: middle;
  color: #fff;
}

#login {
  width: 100%;
  height: auto;
}

.login_box {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.login_main {
  width: 500px;
  height: auto;
  margin: 150px auto 0 auto;
}

/*公司logo*/
.login_logo {
  display: block;
  width: 100%;
  height: 70px;
}

.login_icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 70px;
  background: url("../img/logo.png") no-repeat;
}

/*登录内容*/
.login_content {
  width: 400px;
  margin: 50px auto;
}

.login_msg {
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.login_msg li {
  width: 360px;
  height: 26px;
  padding: 20px;
}

.name, .pwd, .code {
  border-bottom: 1px solid #999;
}

/*用户名*/
.l_icon1 {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  margin-right: 20px;
}

.l_i1 {
  display: block;
  width: 24px;
  height: 20px;
  background: url("../img/login.png") no-repeat;
  background-position: 0 0;
}

/*密码*/
.l_icon2 {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  margin-right: 20px;
}

.l_i2 {
  display: block;
  width: 20px;
  height: 24px;
  background: url("../img/login.png") no-repeat;
  background-position: -205px 0;
}

/*验证码*/
.code {
  position: relative;
}

.l_icon3 {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  margin-right: 20px;
}

.l_i3 {
  display: block;
  width: 23px;
  height: 24px;
  background: url("../img/login.png") no-repeat;
  background-position: -238px -1px;
}

.code_click {
  position: absolute;
  right: 10px;
  z-index: 99999;
  width: 66px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 4px;
  margin-top: -5px;
  cursor: pointer;
}

/*记住密码*/
.check_box {
  font-size: 13px;
}

.r_pwd_btn {
  cursor: pointer;
  color: #fff;
}

.check_box .r_pwd {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}

.r_pwd_yes {
  display: block;
  height: 12px;
  width: 12px;
  background: url("../img/login.png") no-repeat;
  background-position: -225px -1px;
}

/*登录按钮*/
.login_btn a {
  display: block;
  width: 400px;
  height: 40px;
  line-height: 40px;
  border-radius: 1px;
  background: #0062c8;
  margin-left: -20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

/*提示:立即注册 忘记密码*/
.prompt {
  font-size: 14px;
}

.prompt_pwd {
  float: right;
  cursor: pointer;
}

.prompt_register {
  cursor: pointer;
}

/*--------------------------register .html-------------------------*/
#register {
  width: 100%;
  height: auto;
}

.register_box {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.register_main {
  width: 500px;
  height: auto;
  margin: 150px auto 0 auto;
}

/*logo*/
.register_logo {
  display: block;
  width: 500px;
  height: 70px;
}

.register_icon {
  display: block;
  width: 100px;
  height: 70px;
  margin: 0 auto;
  background: url("../img/logo.png") no-repeat;
}

/*主体内容*/
.register_content {
  width: 400px;
  font-size: 14px;
  margin: 50px auto;
}

/*ul*/
.register_msg {
  width: 400px;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

.register_msg li {
  width: 360px;
  margin: 0 auto;
}

/*有下划线的li*/
.r_rname, .r_rpwd, .r_rpwdSure, .r_ruser, .r_rphone, .r_verify_img, .r_verify_msg {
  border-bottom: 1px solid #999;
  height: 26px;
  line-height: 26px;
  padding: 10px 20px;
}

/*图形验证码,短信验证码*/
.r_verify_img, .r_verify_msg {
  position: relative;
}

.r_verify_img input, .r_verify_msg input {
  width: 220px;
}

.rcode, .phonemsg {
  position: absolute;
  top: 8px;
  right: 10px;
  float: right;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.rcode {
  width: 66px;
  letter-spacing: 4px;
}

.phonemsg {
  width: 80px;
  color: #3b8ec8;;
  background: #f6fff1;
}

/*注册按钮*/
.register_btn {
  margin: 16px auto !important;
}

.register_btn a {
  display: block;
  width: 400px;
  height: 40px;
  line-height: 40px;
  border-radius: 1px;
  background: #0062c8;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

/*右下角立即登录*/
.r_login_btn {
  text-align: right;
}

/*------------------------forgetpwd .html-------------------------*/
#forgetPwd {
  width: 100%;
  height: auto;
}

.forgetPwd_box {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.forgetPwd_main {
  width: 500px;
  height: auto;
  margin: 150px auto 0 auto;
}

.forget_logo {
  display: block;
  width: 500px;
  height: 70px;
}

.forget_icon {
  display: block;
  width: 100px;
  height: 70px;
  background: url("../img/logo.png");
  margin: 0 auto;
}

.forget_content {
  width: 400px;
  height: auto;
  margin: 50px auto;
}

.forget_msg {
  width: 400px;
  height: auto;
  padding: 0;
  font-size: 14px;
}

.forget_msg .fi {
  width: 360px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid #999;
}

.sureChange {
  display: block;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0062c8;
  border-radius: 1px;
  margin: 16px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.f_login_btn {
  margin: 0 auto;
  width: 360px;
  text-align: right;
}

.prompt a:hover, .r_login_btn a:hover, .f_login_btn a:hover {
  color: #0062c8;
}

.getmsg {
  position: relative;
}

/*------------产品体系:登录页面头部导航-------------*/
/*头部logo 导航 登录 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #01172f;
  border-bottom: 1px solid #000063;
}

.header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  clear: both;
}

/*头部logo*/
.nav_logo {
  float: left;
}

.icon-logo {
  display: block;
  width: 120px;
  height: 80px;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

/*头部导航*/
.nav {
  float: left;
}

.nav_stair {
  margin-left: 100px;
}

.nav_stairlist {
  margin-right: 18px;
  text-align: center;
  cursor: pointer;
}

.nav_stairlist > a {
  display: block;
  padding: 0 18px;
  height: 79px;
}

.nav_stairlist > a:hover {
  color: #007fff;
  border-bottom: 1px solid #007fff;
}

.on {
  color: #007fff;
  border-bottom: 1px solid #007fff;
}

/*头部:产品体系下的二级菜单*/
.pro {
  position: relative;
}

.pro_menu {
  display: none;
  position: absolute;
  left: -500px;
  top: 80px;
  margin-left: -570px;
  z-index: 999;
  width: 2400px;
  height: 80px;
  background: rgba(0, 23, 47, 0.8);;
  border-top: 1px solid #000063;
}

.pro_list {
  background: rgba(0, 23, 47, 0.8);
  clear: both;
  overflow: hidden;
}

.pro_list li {
  margin-right: 90px;
}

.pro_list li > a:hover {
  color: #007fff;
}

/*头部登录按钮*/
.h_login_btn {
  width: 55px;
  height: 80px;
  line-height: 80px;
  float: right;
}

.h_login_btn .btn {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 6px 12px;
  text-align: center;
  background: transparent;
}

/*--------------产品体系:媒体主proMediaLogin.html -------------*/
#media_login {
  width: 100%;
  height: 600px;
  background: url("../img/product-media-banner.jpg") no-repeat;
  background-position: top center;
}

.media_box {
  width: 1200px;
  margin: 0 auto;

}

/*左侧文字*/
.media_left {
  margin: 180px 0 100px 100px;
  width: 660px;
  float: left;
}

.media_left h2 {
  font-size: 36px;
  margin: 50px 35px 40px 0;
}

.media_left p {
  font-size: 16px;
  line-height: 32px;
  margin: 50px 35px 40px 0;
}

/*右侧表单*/
.media_right {
  width: 400px;
  float: right;
  margin: 160px 0 100px 0;
}

.media_content {
  width: 240px;
  background: rgba(58, 143, 210, .5);
  border-radius: 3px;
  padding: 30px;
  position: relative;
}

.media_msg {
  width: 220px;
  margin: 0 auto;
}

.media_msg input {
  width: 160px;
}

.media_msg li {
  width: 220px;
  margin-bottom: 8px;
}

.medianame, .mediapwd, .mediacode {
  border-bottom: 1px solid #cecece;
  height: 37px;
  line-height: 37px;
}

/*用户名*/
.media_icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  margin-right: 14px;
}

.media_i1 {
  display: block;
  width: 15px;
  height: 12px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: 0 -45px;
}

/*密码*/
.media_i2 {
  display: block;
  width: 14px;
  height: 16px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: -20px -45px;
}

/*验证码*/
.mediacode{
  position: relative;
}
.mediacode .code_click{
  height: 30px;
  line-height: 30px;
  top:5px;
  right: 0;
}
.code {
  position: relative;
}

.media_i3 {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: -34px -45px;
}

/*记住密码*/
.media_check_box {
  font-size: 12px;
  text-align: right;
  margin: 20px 0;
}

.media_pwd_btn {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  vertical-align: middle;
}

.media_check_box .media_pwd {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-right: 6px;
  border: 1px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}
.media_pwd i{
  display: block;
  width: 12px;
  height: 12px;
}
.r_pwd_yes {
  display: block;
  height: 12px;
  width: 12px;
  background: url("../img/login.png") no-repeat;
  background-position: -225px -1px;
}

/*登录按钮*/
.media_login_btn a {
  display: block;
  width: 220px;
  height: 30px;
  line-height: 30px;
  border-radius: 1px;
  background: #0062c8;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 5px 0;
}

/*提示:立即注册 忘记密码*/
.media_prompt {
  font-size: 12px;
  margin: 10px 0;
}

.media_prompt_pwd {
  float: right;
  cursor: pointer;
}

.media_prompt_register {
  cursor: pointer;
}

/*我们提供*/
#afford {
  width: 100%;
  background: #f9f9f9;
  padding: 80px 0 50px 0;
}

.afford_box {
  width: 1200px;
  margin: 0 auto;
}

.common_top {
  width: 1200px;
  text-align: center;
}

.common_top h2 {
  font-size: 30px;
  color: #000;
}

.common_top p {
  font-size: 18px;
  margin-top: 20px;
  color: #000;
}

.afford_bottom {
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}

.afford_list {
  padding: 0 57px;
}

.afford_list li {
  width: 484px;
  height: 322px;
  float: left;
  margin: 28px;
  box-shadow: 0 0 4px 2px #eee;
  background: #fff;
  padding: 50px 0;
}

.afford_icon {
  width: 484px;
  height: 158px;
}
.afford_icon i{
  display: block;
  margin: 0 auto;
  width: 158px;
  height: 158px;
}
.afford_icon1 {
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: 0 -63px;
}

.afford_icon2 {
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: -180px -63px;
}

.afford_icon3 {
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: -360px -63px;
}

.afford_icon4 {
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: 0 -229px;
}
.afford_list li h4 {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
  color: #000;
}

.afford_list li p {
  margin: 20px 50px;
  width: 400px;
  color: #686868;
}

/*户外媒体主合作*/
#outdoor_join {
  width: 100%;
  margin-top: 80px;
}

.outdoor_join_box {
  width: 1200px;
  margin: 0 auto;
}

.outdoor_join_bottom {
  width: 1200px;
  margin: 50px auto;
}

.outdoor_join_list{
  width: 1200px;
  height: 400px;
}
.outdoor_join_list li{
  width: 320px;
  height: 300px;
  float: left;
  margin:100px 38px 28px 38px;
  box-shadow: 0 0 4px 2px #eee;
}

.outdoor_join_icon{
  width: 320px;
  height: 140px;
  margin-top:-72px;
}
.outdoor_join_icon i{
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
}
.outdoor_join_i1{
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: -179px -229px;
}
.outdoor_join_i2{
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: -340px -229px;
}
.outdoor_join_i3{
  background: url("../img/mediaadvIcon.png ") no-repeat;
  background-position: 0 -398px;
}
.outdoor_join_list li h4{
  width: 320px;
  height: 30px;
  color: #000000;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  margin:60px 0 20px 0;
}
.outdoor_join_list li p{
  width: 280px;
  height: 82px;
  margin: 0 auto;
  color: #686868;
  line-height: 28px;
}
/*户外媒体主合作流程*/
#flow_path{
  width: 100%;
  padding: 50px 0;
}
.flow_path_bottom{
  width: 1200px;
  margin: 50px auto;
}
.flow_path_box{
  width: 1200px;
  margin: 0 auto;
}
.flow_path_list{
  width: 1200px;
  text-align: center;
}
.flow_path_list li{
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #a4d1ff;
  margin:10px;
  color: #000;
}




/*--------------产品体系:广告主proAdvLogin.html -------------*/
#adv_login {
  width: 100%;
  height: 600px;
  background: url("../img/product-adv-banner.jpg") no-repeat;
  background-position: top center;
}

.adv_box {
  width: 1200px;
  margin: 0 auto;

}

/*左侧文字*/
.adv_left {
  margin: 180px 0 100px 100px;
  width: 660px;
  float: left;
}

.adv_left h2 {
  font-size: 36px;
  margin: 50px 35px 40px 0;
}

.adv_left p {
  font-size: 16px;
  line-height: 32px;
  margin: 50px 35px 40px 0;
}

/*右侧表单*/
.adv_right {
  width: 400px;
  float: right;
  margin: 160px 0 100px 0;
}

.adv_content {
  width: 240px;
  background: rgba(58, 143, 210, .5);
  border-radius: 3px;
  padding: 30px;
  position: relative;
}

.adv_msg {
  width: 220px;
  margin: 0 auto;
}

.adv_msg input {
  width: 160px;
}

.adv_msg li {
  width: 220px;
  margin-bottom: 8px;
}

.advname, .advpwd, .advcode {
  border-bottom: 1px solid #cecece;
  height: 37px;
  line-height: 37px;
}

/*用户名*/
.adv_icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  margin-right: 14px;
}

.adv_i1 {
  display: block;
  width: 15px;
  height: 12px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: 0 -45px;
}

/*密码*/
.adv_i2 {
  display: block;
  width: 14px;
  height: 16px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: -20px -45px;
}

/*验证码*/
.advcode{
  position: relative;
}
.advcode .code_click{
  height: 30px;
  line-height: 30px;
  top:5px;
  right: 0;
}
.code {
  position: relative;
}

.adv_i3 {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/mediaadvIcon.png") no-repeat;
  background-position: -34px -45px;
}

/*记住密码*/
.adv_check_box {
  font-size: 12px;
  text-align: right;
  margin: 20px 0;
}

.adv_pwd_btn {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  vertical-align: middle;
}

.adv_check_box .adv_pwd {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-right: 6px;
  border: 1px solid #fff;
  border-radius: 2px;
  vertical-align: middle;
}
.adv_pwd i{
  display: block;
  width: 12px;
  height: 12px;
}
.r_pwd_yes {
  display: block;
  height: 12px;
  width: 12px;
  background: url("../img/login.png") no-repeat;
  background-position: -225px -1px;
}

/*登录按钮*/
.adv_login_btn a {
  display: block;
  width: 220px;
  height: 30px;
  line-height: 30px;
  border-radius: 1px;
  background: #0062c8;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 5px 0;
}

/*提示:立即注册 忘记密码*/
.adv_prompt {
  font-size: 12px;
  margin: 10px 0;
}

.adv_prompt_pwd {
  float: right;
  cursor: pointer;
}

.adv_prompt_register {
  cursor: pointer;
}
/*我们提供*/
#adv_afford {
  width: 100%;
  background: #00172f;
  padding:80px 0 50px 0;
}

.adv_afford_box {
  width: 1200px;
  margin: 0 auto;
}

.adv_common_top {
  width: 1200px;
  text-align: center;
}


.adv_common_top h2 {
  font-size: 30px;
  color: #fff;
}

.adv_common_top p {
  font-size: 18px;
  margin-top:20px;
  color: #fff;
}

.adv_afford_bottom {
  width: 1200px;
  margin:80px 0 50px 0;
  overflow: hidden;
}

.adv_afford{
  width: 1200px;
  height: 390px;
}
/*左侧*/
.adv_afford_img1{
  width: 600px;
  height: 390px;
  float: left;
}
.adv_afford_txt1{
  width: 500px;
  height: 230px;
  float: left;
  padding: 80px 45px;
}

/*右侧*/
.adv_afford_img2{
  width: 600px;
  height: 390px;
  float: right;
}
.adv_afford_txt2{
  width: 500px;
  height: 230px;
  float: right;
  padding: 80px 45px;
}

.adv_afford .line{
  width: 60px;
  border: 1px solid #0062c8;
  margin-bottom:45px;
}
.adv_afford h2{
  margin:50px 0;
}
.adv_afford p{
  margin-top:60px;
  line-height: 28px;
}
/*多场景标签助您触达核心用户*/
#scene {
  width: 100%;
  background: #f8f8f8;
  padding:80px 0 50px 0;
}

.scene_box {
  width: 1200px;
  margin: 0 auto;
}

.adv_common_top {
  width: 1200px;
  text-align: center;
}


#scene .adv_common_top h2 {
  font-size: 30px;
  color: #000;
}

#scene .adv_common_top p {
  font-size: 18px;
  margin-top:20px;
  color: #000;
}

.scene_bottom {
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}
.scene_bottom .scene_list{
  width: 1200px;
  margin: 0 auto;
}
.scene_list li{
  background: #fff;
}
.scene_bottom .scene_list .scene_l1{
  width: 320px;
  height: 300px;
  float: left;
  margin: 100px 60px 28px 220px;
  box-shadow: 0 0 4px 2px #eee;

}
.scene_bottom .scene_list .scene_l2{
  width: 320px;
  height: 300px;
  float: left;
  margin: 100px 220px 28px 60px;
  box-shadow: 0 0 4px 2px #eee;
}
.scene_bottom .scene_list .scene_l3{
  width: 320px;
  height: 300px;
  float: left;
  margin: 100px 40px 28px 40px;
  box-shadow: 0 0 4px 2px #eee;
}

/*每个li上的图*/
.scene_icon{
  width: 320px;
  height: 140px;
  margin-top: -72px;
}
.scene_icon i{
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
}
.scene_i1{
  background: url(../img/mediaadvIcon.png ) no-repeat;
  background-position: -179px -400px;
}
.scene_i2{
  background: url(../img/mediaadvIcon.png ) no-repeat;
  background-position: -340px -400px;
}
.scene_i3{
  background: url(../img/mediaadvIcon.png ) no-repeat;
  background-position: -340px -230px;
}
.scene_i4{
  background: url(../img/mediaadvIcon.png ) no-repeat;
  background-position: 0 -550px;
}
.scene_i5{
  background: url(../img/mediaadvIcon.png ) no-repeat;
  background-position: -179px -550px;
}


.scene_bottom h4{
  width: 320px;
  height: 30px;
  color: #000000;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  margin: 60px 0 20px 0;
}
.scene_bottom p{
  width: 280px;
  height: 82px;
  margin: 0 auto;
  color: #686868;
  line-height: 28px;
}
.flow_path_list .adv_flow_path{
  width: 375px;
  height: 50px;
  line-height: 50px;

  background: #a4d1ff;
  margin: 10px;
  color: #000;
}