<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- mybatis映射文件 -->
<mapper namespace="com.liuyihui.lrnmybatis4.api.IUser"><!-- namespace跟接口名对应 -->
	<!-- id跟接口的方法对应 -->
    <select id="selectUserByID" parameterType="int" resultType="User">
        select * from user where id = #{id}
    </select>
    
    <!-- 查询用户实体集合 ,自动返回List形式-->
    <select id="queryUser"  resultType = "User">
    	select * from user where userName like #{userName}
    </select>

    <!-- 查询用户实体集合 ，使用resultMap-->
    <select id="queryUser2"  resultMap="resultUserList">
    	select * from user where userName like #{userName}
    </select>
    
    <!-- 
    	需要返回list时，可用下面的resultMap配置。也可以不用,直接将接口方法返回类型改成对应实体的List就自动返回list。
    	用法：resultType=下面的id
     -->
    <resultMap type="User" id="resultUserList">
    	<id column="id" property="id" />
    	<result column="userName" property="userName" />
    	<result column="userAge" property = "userAge" />
    	<result column="userAddress" property="userAddress" />
    </resultMap>
    <!-- 
    	插入标签
    	useGeneratedKeys="true" 指示要mybatis获取由数据库自动生成的主键
    	keyProperty="user.id" 指示把获取到的主键注入到user的id属性
     -->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="user.id" >
    	insert into user (userName,userAge,userAddress)
    	values (#{user.userName},#{user.userAge},#{user.userAddress})
    </insert>
    <!-- 
    	更新标签
     -->
    <update id="updateUser">
    	update user 
		set
		  userName = #{user.userName},
		  userAge = #{user.userAge},
		  userAddress = #{user.userAddress} 
		where id =  #{user.id}
    </update>
    <!-- 
    	删除标签
     -->
    <delete id="deleteUser">
    	delete from user where id = #{id}
    </delete>
</mapper>