<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis映射文件 -->

<mapper namespace="com.liuyihui.lrnmybatis2.api.IUser"><!-- namespace 指定的是一个写好的接口了 -->
    <!-- id跟接口的方法对应 -->
    <select id="selectUserByID" parameterType="int" resultType="User">
        select * from user where id = #{id}
    </select>
</mapper>