<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>户外广告平台-广告交易平台</title>
  <link rel="stylesheet" href="resources/css/index.css">
</head>
<body>
<!--上部导航-->
<header id="header">
  <div class="header">
    <!--logo-->
    <div class="nav_logo">
      <a href="index.html">
        <i class="icon-logo"></i>
      </a>
    </div>
    <!--导航菜单-->
    <nav class="nav">
      <ul class="nav_stair">
        <li class="nav_stairlist"><a href="index.html">首页</a></li>
        <li class="nav_stairlist"><a href="advantage.html">优势</a></li>
        <li class="nav_stairlist pro">
          <a class="on">产品体系</a>
          <div class="pro_menu">
            <ul class="pro_list">
              <li><a href="../login/proMediaLogin.html">媒体主平台</a></li>
              <li><a href="../login/proAdvLogin.html">广告主平台</a></li>
              <li><a href="proDataAdmin.html">数据管理平台</a></li>
              <li><a href="proAdvDeal.html" class="c">广告交易平台</a></li>
            </ul>
          </div>
        </li>
        <li class="nav_stairlist"><a href="mediaResource.html">媒体资源库</a></li>
        <li class="nav_stairlist"><a href="cooperation.html">合作案例</a></li>
        <li class="nav_stairlist"><a href="news.html">新闻中心</a></li>
        <li class="nav_stairlist"><a href="about.html">关于我们</a></li>
      </ul>
    </nav>
    <!--登录按钮-->
    <div class="h_login_btn">
      <a href="../login/login.html" target="_blank" class="btn">登录</a>
    </div>
  </div>
</header>
<!--上部导航end-->
<!--中间banner-->
<div id="adv_deal_banner">
  <div class="adv_deal_box">
    <h2>户外广告交易平台 O-Exchange</h2>
    <p>触达优质目标用户，提升精准营销效果</p>
  </div>
</div>
<!--中间banner END-->

<!--引领传统户外广告走出困境-->
<div id="adv_guide">
 <div class="adv_guide_box">
   <div class="adv_guide_top">
     <div class="adv_guide_top_icons">
       <i class="adv_guide_top_i"></i>
     </div>
     <h2>引领传统户外广告走出困境</h2>
   </div>
   <div class="adv_guide_bottom">
     <ul class="adv_guide_list">
       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon1"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>如何选择线下媒体？</h3>
           <h4>多场景媒体整合</h4>
           <p>让广告主在对的时间对的地点接
             触到对的用户</p>
         </div>
       </li>
       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon2"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>如何简化投放过程？</h3>
           <h4>多接入模式</h4>
           <p>完美兼容多种广告渠道、多种媒
             体设备，打造户外广告网络体系</p>
         </div>
       </li>
       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon3"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>如何评估投放效果？</h3>
           <h4>效果分析</h4>
           <p>大数据分析受众人群，多维度展
             现投放效果</p>
         </div>
       </li>

       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon4"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>如何媒体设备管理？</h3>
           <h4>自动化控制</h4>
           <p>在线控制广告创意播放，远程管
             理媒体设备</p>
         </div>
       </li>
       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon5"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>如何利用闲置时长？</h3>
           <h4>收益优化</h4>
           <p>机器学习优化算法，不断提高媒
             体资源利用率</p>
         </div>
       </li>
       <li class="adv_guide_cont">
         <div class="adv_guide_img">
           <i class="adv_guide_icon6"></i>
         </div>
         <div class="adv_guide_txt">
           <h3>投放期间如何监测？</h3>
           <h4>实时监测</h4>
           <p>广告投放日志权威认证，树立行
             业诚信标杆</p>
         </div>
       </li>
     </ul>
   </div>
 </div>
</div>
<!--引领传统户外广告走出困境 END-->

<!--O-Exchange 平台优势-->
<div id="platform_adv">
  <div class="platform_adv_box">
    <div class="platform_adv_main">
      <div class="platform_adv_top">
        <h2>O-Exchange 平台优势</h2>
      </div>
      <div class="platform_adv_bottom">
        <ul class="platform_adv_list">
          <li>
            <div class="platform_adv_icon">
              <i class="platform_adv_icon1"></i>
            </div>
            <h2>LBS定位</h2>
            <p>地图精准定位媒体点，周边媒体位便捷搜索</p>
          </li>

          <li>
            <div class="platform_adv_icon">
              <i class="platform_adv_icon2"></i>
            </div>
            <h2>灵活计费</h2>
            <p>多种计费方式任选，不花一分冤枉钱</p>
          </li>

          <li>
            <div class="platform_adv_icon">
              <i class="platform_adv_icon3"></i>
            </div>
            <h2>互联网跨屏互动</h2>
            <p>汇集扫一扫/AR红包等互联网玩法，转化效果显著提升</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--O-Exchange 平台优势 END-->

<!--底部:联系方式/版权-->
<iframe src="footer.html" width="100%" height="550px" frameborder="0" id="f_iframe" name="f_ifream" scrolling="no"></iframe>
<!--底部:联系方式/版权 END-->

</body>
<script src="resources/js/jquery-3.2.1.js"></script>
<script>
  //产品体系二级菜单
  $('.pro').hover(function () {
    $('.pro_menu').css('display', 'block');
  }, function () {
    $('.pro_menu').css('display', 'none');
  })
</script>
</html>