<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!--上部导航-->
<header id="header">
  <div class="header">
    <!--logo-->
    <div class="nav_logo">
      <a href="index.html">
        <i class="icon-logo"></i>
      </a>
    </div>
    <!--导航菜单-->
    <nav class="nav">
      <ul class="nav_stair">
        <li class="nav_stairlist"><a href="index.html" class="on">首页</a></li>
        <li class="nav_stairlist"><a href="advantage.html">优势</a></li>
        <li class="nav_stairlist pro">
          <a href="#">产品体系</a>
          <div class="pro_menu">
            <ul class="pro_list">
              <li><a href="">媒体主平台</a></li>
              <li><a href="">广告主平台</a></li>
              <li><a href="">数据管理平台</a></li>
              <li><a href="">广告交易平台</a></li>
            </ul>
          </div>
        </li>
        <li class="nav_stairlist"><a href="">媒体资源库</a></li>
        <li class="nav_stairlist"><a href="">合作案例</a></li>
        <li class="nav_stairlist"><a href="">新闻中心</a></li>
        <li class="nav_stairlist"><a href="">联系我们</a></li>
      </ul>
    </nav>
    <!--登录按钮-->
    <div class="login_btn">
      <a href="login.html" target="_blank" class="btn">登录</a>
    </div>
  </div>
</header>
<!--上部导航end-->
<!--中间banner-->
<div id="banner">
  <!--banner轮播图:淡入淡出-->
  <div id="b_list" class="b_list">
    <div class="img_text">
      <div class="i_up" style="">
        <img src="img/banner1.jpg">
      </div>
      <div class="b_text" style="">
        <p class="b_text1" style="top:0">为线下屏幕赋能科技</p>
        <p class="b_text2" style="top:0">
          OOHLink自主研发国内首创的户外广告程序化交易平台，整合线下丰富的媒体资源，通过平台标准化产品和大数据处理技术，平台独特的个性化投放模式和智能高效的精准播控系统，为传统户外广告快速赋能，使户外广告媒体达到媒体资源程序化购买，让线下广告营销更加智能、便捷。</p>
      </div>
    </div>
    <div class="img_text">
      <div class="i_up" style="display: none">
        <img src="img/banner2.jpg">
      </div>
      <div class="b_text" style="display: none">
        <p class="b_text1" style="top:80px">数据驱动的户外3.0时代</p>
        <p class="b_text2" style="top:30px">
          OOHlink依托数据搜集入口，对接多个数据源，通过营销将品牌推广，将消费用户引流，帮助商户获客，基于线下投放产生的数据分析，进行线上精准营销，为广告主提供智能化、精准的户外广告投放，并通过线上线下跨屏打通以增强广告的曝光效果，真正实现户外广告的品效合一。</p>
      </div>
    </div>
    <div class="img_text">
      <div class="i_up" style="display: none">
        <img src="img/banner3.jpg">
      </div>
      <div class="b_text" style="display: none">
        <p class="b_text1" style="top:80px">场景沉浸式的闭环营销模式</p>
        <p class="b_text2" style="top:30px">
          OOHlink独特的营销体验，链接现实与虚拟，打通线上与线下，同时科技的被动感、场景的沉浸式营销搭配了直播、互动化、内容化等多元特征，共同构筑了户外媒体的独特价值，线下+线上联动营销让营销信息更有效的传达。</p>
      </div>
    </div>
  </div>
  <!--轮播图翻页按钮-->
  <div class="b_btn">
    <span index="1" class="on_btn">1</span>
    <span index="2">2</span>
    <span index="3">3</span>
  </div>
</div>
<!--中间banner end-->
<!--覆盖数据-->
<div id="data">
  <ul class="data_text">
    <li>
      <p>220+</p>
      <span>覆盖全国重点城市</span>
    </li>
    <li>
      <p>50万+</p>
      <span>覆盖媒体位个数</span>
    </li>
    <li>
      <p>1600+</p>
      <span>媒体位标签体系</span>
    </li>
    <li>
      <p>2亿+</p>
      <span>覆盖触达人次</span>
    </li>
  </ul>
</div>
<!--覆盖数据end-->
<!--我们的优势-->
<div id="adv">
  <div class="adv_content">
    <h2>我们的优势</h2>
    <div class="roundabout">
      <div class="roundabout_box">
        <ul id="">
          <li>
            <img src="img/advantage1.jpg">
            <div class="adv_text">
              <h4>线下生活场景全域覆盖,<br>碎片化广告投放 </h4>
              <div class="adv_line"><span></span></div>
              <p>对线下220多个城市的屏幕进行整合，覆盖电影院、写字楼、高档小区、商场等多个场景，实现广告的多区域、多场景、碎片化精准投放；低成本、大冲击，短时间内达到“爆炸式”的媒体传播效果。</p>
              <a href="" class="adv_btn">查看更多</a>
            </div>
          </li>
          <li>
            <img src="img/advantage2.jpg">
            <div class="adv_text">
              <h4>全面洞察潜在用户，<br>智能场景化精准定位 </h4>
              <div class="adv_line"><span></span></div>
              <p>智能感知户外受众人群，并对人群进行多维度的定向分析，智能场景化，帮助广告主更好地触达目标人群，让潜在用户人群服务于线下场景，通过人群定向智能选择线下媒体广告位。</p>
              <a href="" class="adv_btn">查看更多</a>
            </div>
          </li>
          <li>
            <img src="img/advantage3.jpg">
            <div class="adv_text">
              <h4>剩余广告位灵活发布，<br>多策略定制 </h4>
              <div class="adv_line"><span></span></div>
              <p>根据客户传播需求及媒体空置情况，在多个空闲位交替发布；同时根据人群、时段、天气等定向策略，智能下发广告素材，根据不同的广告策略在平台选择不同的广告素材，高度宣传、密集曝光。</p>
              <a href="" class="adv_btn">查看更多</a>
            </div>
          </li>
        </ul>
        <a href="javascript：void(0)" class="adv_btnl"></a>
        <a href="javascript：void(0)" class="adv_btnr"></a>
      </div>
    </div>
  </div>
</div>
<!--我们的优势end-->
<!--我们的产品-->
<div id="product">
  <div class="product_show">
    <h2>我们的产品</h2>
    <div class="my_product">
      <div class="my_product4">
        <div class="product_img i1"><i class="icon-i1"></i></div>
        <div class="product_text">
          <h4>媒体主平台</h4>
          <span>户外媒体主工作台，免费智能化媒体位管理，大数据赋能媒体位，致力提高户外媒体位管理效率和广告收益。</span>
          <a href="" class="">开始使用</a>
        </div>
      </div>
      <div class="my_product4">
        <div class="product_img i2"><i class="icon-i2"></i></div>
        <div class="product_text">
          <h4>广告主平台</h4>
          <span>户外广告程序化投放平台，在线投放户外广告，过程简单操作便利；利用人工智能+大数据工具实现户外媒体精准投放，提供详细的投放效果分析，实现线下营销新生态。</span>
          <a href="" class="">开始使用</a>
        </div>
      </div>
      <div class="my_product4">
        <div class="product_img i3"><i class="icon-i3"></i></div>
        <div class="product_text">
          <h4>数据管理平台</h4>
          <span>集多场景媒体资源位和海量人群数据于一体，通过大数据分析与挖掘技术，实现媒体资源的整合与管理、多维度的人群标签体系的建立，为广告的精准投放及多渠道应用提供数据和技术支撑。</span>
          <a href="" class="">开始使用</a>
        </div>
      </div>
      <div class="my_product4">
        <div class="product_img i4"><i class="icon-i4"></i></div>
        <div class="product_text">
          <h4>O-Exchange平台</h4>
          <span>打破传统户外媒体的局限，解决每个行业投放广告都有不同的诉求，创造户外广告投放的智能化、互动化、平台化、数据化、生态化，实现户外广告媒体主和广告主的共赢新局面和线下营销的颠覆性价值。</span>
          <a href="" class="">开始使用</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--我们的产品end-->
<!--推广案例数据-->
<div id="case">
  <div class="case_content">
    <h2>推广案例数据</h2>
    <dl class="case_data">
      <dt class="case_l">
      <h4>北京现代</h4>
      <p>4月随着车展的增多，新车的上市，将会涌入一大批购车人群，利用五一小长假前后，锁定南京新街口人群密集区，有效保证了新街口人群关注和及传播效果，树立和强化企业的品牌影响力。
        收集潜在客户的数据线索，迅速有效地将告知并引导客户到店体验，提升这些人群对北京现代的认知和喜爱。</p>
      <a href="" class="case_look">查看更多</a>
      </dt>
      <dd class="case_r">
        <img src="img/case-car.jpg">
      </dd>
    </dl>
    <dl class="case_data">
      <dt class="case_l1">
      <h4>蜜色之吻</h4>
      <p>伴随着时代发展，线上线下相结合的营销方式出现，主流消费群体更倾向于线上消费（即电商）。熟悉网购的多是年轻消费者，根据数据显示，这些新生代的年轻消费群体很少去到内衣店消费，更多是采取网购的形式。
        蜜色之吻如何在众内衣、众电商中脱颖而出，是我们此次传播的重点，通过本次广告传播挖掘关注内衣、有购买欲望的目标人群，进行精准投放。</p>
      <a href="" class="case_look">查看更多</a>
      </dt>
      <dd class="case_r1">
        <img src="img/case-clothes.jpg">
      </dd>
    </dl>
    <div class="more_case"><a href="">更多案例>></a></div>
  </div>
</div>
<!--推广案例数据end-->
<!--合作伙伴-->
<div id="partner">
  <div class="partner_box">
    <ul class="partner_slide">
      <li class="partner_img"><img src="img/partner1.jpg"></li>
      <li class="partner_img"><img src="img/partner2.jpg"></li>
      <li class="partner_img"><img src="img/partner3.jpg"></li>
      <li class="partner_img"><img src="img/partner4.jpg"></li>
    </ul>
    <div class="partner_btn">
      <span class="pbtnColor"></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!--合作伙伴end-->
<!--底部:联系方式/版权-->
<iframe src="footer.html" width="100%" height="500px" frameborder="0" id="f_iframe" name="f_ifream" scrolling="no"></iframe>
<!--底部:联系方式/版权end-->

<script src="commonjs/jquery-3.2.1.js"></script>
<script src="js/index.js"></script>
<script src="commonjs/roundabout.js"></script>
<script>
  //我们的优势:3D旋转轮播
  $(function () {
    $(document).ready(function () {
      $('.roundabout_box ul').roundabout({
        duration: 1000,// 运动速度
        btnPrev: ".adv_btnl", // 右按钮
        btnNext: ".adv_btnr", // 左按钮
        minScale: 0.9,
        autoplay: true,
        autoplayDuration: 5000,// 自动播放的时间
        minOpacity: 0,
        maxOpacity: 1,//最大的透明度
        reflect: true, // 为true时是从左向右移动，为false从右向左移动
        startingChild: 3,// 默认的显示第几张图片
        autoplayInitialDelay: 5000,// 从第几秒时开始自动播放（默认毫秒）开始的第一次管用
        autoplayPauseOnHover: true,// 鼠标移入元素内是否自动播放，为true不播放，false还自动播放
        enableDrag: true // 在移动端可以拖拽播放
      });
    });
  })
</script>
</body>
</html>