*{
  margin: 0;
  padding: 0;
}

/*上侧导航 col-md(992-1200) */
#nav{
  height: 50px;
  background: #00aa00;
}
.text_titlt{
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
}
ul#nav_top{
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
#nav_top>li.nav_toplist{
  width: 24%;
  background: #00b3ee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ul#nav_left{
  background: #00a300;
  text-align: center;
}
.nav_leftlist{
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
}
.nav_leftlist:hover{
  cursor: pointer;
}
.gl_left{
  margin-right:3%;
}
.left_text{
  display: inline-block;
  width: 55%;
  text-align: left;
}
.gl_right{
  margin-left:8%;
}
/*二级菜单*/
.second_navleft{
  background: #00aa00;
}
.second_navleft>.second_navlist{
  width: 100%;
  height: 40px;
  padding: 0.1rem 0;
  border-bottom: 1px solid #000000;
}



/*右侧内容展示*/
.right_content{
  border: 1px solid #00A000;
  width: 300px;
  height: 200px;
}

/*屏幕小于768*/
@media screen and (max-width: 767px){
  ul#nav_top{
    padding-top:0px;
  }
  .text_titlt{
    float: left;
    width:52%;
  }
  /*左侧导航*/
  /*screen<768菜单按钮*/
  .btn_res{
    float: left;
    width: 21%;
    height: 50px;
  }
  /*面包导航右侧*/
  .bread_nav{
    float: right;
    width: 21%;
    height: 50px;
    padding-left:18px;
  }
  #nav_top>li.nav_toplist{
    border-radius: 1px;
  }
}






